#canvas {
	background-color: #0d6fc3 !important;
}

#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

.game, .sidebar {
	height: 100%;
}

.sidebar {
	border-right: 1px solid #ccc;
}

.hidden {
	display: none;
}

.grid {
	height: 100%;
}

.grid > div {
	height: 100%;
}

.menu-button {
	display: block;
	width: 300px;
	margin: 0 auto 0 auto;
	border-radius: 5px;
}

.item {
  padding: 10px 13px 10px 13px;
  display: inline-block;
  border-radius: 5px;
  margin: 10px;
  background-color: #f8d09a;
  color: #000;
  font-weight: bold;
  box-shadow: 0 2px #eb893d;
}

.big {
  font-size:
}

/* Level 0ne */

#alphabet {
  padding-right: 0 !important;
  background-color: rgba(255, 255, 255,0.5);
}

#alphabet h1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #f7941e;
  margin: 0;
  padding: 20px 0 20px 0;
}

.big {
  font-size: 30px;
  padding-right: 18px;
  padding-left: 18px;
}
