#canvas {
	background-color: #0d6fc3 !important;
}

#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

.game, .sidebar {
	height: 100%;
}

.sidebar {
	border-right: 1px solid #ccc;
}

.hidden {
	display: none;
}

.grid {
	height: 100%;
}

.grid > div {
	height: 100%;
}

.menu-button {
	display: block;
	width: 300px;
	margin: 0 auto 0 auto;
	border-radius: 5px;
}

.item {
  padding: 10px 0 10px 0;
  width: 60px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  margin: 10px;
  background-color: #f8d09a;
  color: #000;
  font-weight: bold;
  font-size: 24px;
  box-shadow: 0 2px #eb893d;
}

.upper {
  text-transform: uppercase;
}

#upper-button, #lower-button {
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  margin: 10px;
  background-color: #f8d09a;
  color: #000;
  font-weight: bold;
  box-shadow: 0 2px #eb893d;
}

.instrucciones {
  clear: both;
  padding: 10px;
}

/* Level 0ne */

#alphabet, #soup, #sentences {
  padding-right: 0 !important;
  background-color: rgba(255, 255, 255,0.5);
}

#alphabet h1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #f7941e;
  margin: 0;
  padding: 20px 0 20px 0;
}

.enter {
  box-shadow: 0 2px 5px #000;
}

/* Level Two */

#soup h1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #0ba14b;
  margin: 0;
  padding: 20px 0 20px 0;
}

#sentences h1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #ffde16;
  margin: 0;
  padding: 20px 0 20px 0;
}
.word {
  float: left;
  clear: both;
  padding: 10px 15px 10px 15px;
  margin: 5px;
  text-align: center;
  border-radius: 15px;
  background-color: #3d53a1;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.word-found {
  text-decoration: line-through;
  color: #ccc;
}

#win-msg {
  position: absolute;
  top: 100px;
  left: 30%;
  background-color: #3d53a1;
  width: 500px;
  height: 300px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: 100px;
  font-size: 20px;
}

canvas {
  background: #fff;
  border-radius: 25px;
  margin-left: 20px;
  margin-top: 5px;
  font-weight: bold;
}
